# PHPStorm
.idea/
# la bonne pratique est de ne pas envoyer les bibliothèques tierces sur github
# Le composer.json permet de les installer simplement en utilisant la commande composer install
vendor
