<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
        <a href="./" class="navbar-brand">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                {# Tant qu'on a des éléments du menu public #}
                {% for menuItem in menu %}
                <li class="nav-item">
                    {# On les affiche en utilisant ou les getters ou les paramètres #}
                    <a class="nav-link" href="?section={{ menuItem.getIdTheSection }}">{{ menuItem.getTheSectionName }}</a>
                </li>
                {# Si on a pas d'éléments de menu #}
                {% else %}
                    <li class="nav-item"><a class="nav-link">Pas encore de section</a></li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="?p=connect">Connexion</a>
                </li>
            </ul>

        </div>
    </div>
</div>