{% extends "base.html.twig" %}

{% block title %}Accueil de note site{% endblock %}
{% block body %}
    {% for item in menu %}
    <h3>{{ loop.index }}. {{ item.getTheSectionName }}</h3>
    <p>{{ item.getTheSectionDesc }}</p>
    {% endfor %}
    <pre>{{ dump(menu) }}</pre>
{% endblock %}